/* Головна сторінка Студія */
/* шапка сайту */
:root { 
  --color-background-top-line: #FFFFFF;
  --color-background-hero: #2F303A;
  --color-background-feature-list: #ffffff  ;
  --color-background-photo-robota: #F5F5F5  ;
  --color-background-our-team: #F5F4FA  ;
  --color-background-footer-basement: #2F303A  ;
  --color-logo-web-top: #2196F3  ;
  --color-logo-studio-top: #000000  ;
  --color-logo-studio-footer: #FFFFFF  ;
  --color-logo-web-footer: #2196F3  ;
  --color-primary-menu-nav: #212121  ;
  --color-accent-menu-nav: #2196f3  ;
  --color-primary-contact-Information-top: #757575  ;
  --color-text-hero: #FFFFFF  ;
  --color-button-text: #FFFFFF  ;
  --color-primary-background-button: #2196F3  ;
  --color-accent-background-button: #188CE8  ;
  --color-accent-text-button: #ffffff  ;
  --color-text-title: #212121 ;
  --color-text-paragraph: #757575  ;
  --color-text-map: #FFFFFF  ;
  --color-primary-contact-Information-footer: rgba(255, 255, 255, 0.6)  ;
  --color-accent-contact-Information-footer: #2196f3  ;
/* портфоліо */
  --color-background-filter-but : #F5F4FA;
  --color-accent-background-filter-but: #2196F3  ;
  --color-text-filter-but : #212121;
  --color-accent-text-filter-but : #FFFFFF;
 }
body { 
    color: var(--color-text-paragraph);
  font-family: 'Roboto', sans-serif; 
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

 .logo, .logo-web { color: var(--color-logo-studio-top); 
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
   }


 .logo-web { color: var(--color-logo-web-top) ; }
/* скидання всіх крапок в ненумерованих списках не глобально */
 .list { list-style: none; }
 /* скидання глобально для ссилок нижнє підкреслення */
 a { text-decoration: none; }


 /* 
 .page-studia  основний фон сторінки
 .link оформлення для всіх ссилок на ньому кольори, ховер, фокус і курент
 .site-navigation клас списків навігації
 .list  клас списків навігації. скидання всіх крапок в ненумерованих списках 
 .link.current  примусове підсвічування ссилки щоб знати на якій я сторінці знаходжуся
.hero клас для секції в ньому темний фон
.feature-list для фону секції. наші особливості, блоки тексту. 
.title колір заголовків і тексту в секції наші особливості
.photo-robota фон для секції із фото компютери
.our-team фон секції наша команда із фотками працівників
.basement підвал темний фон футера
.adresa колір ссилок у футері
 */

    .site-navigation .link {
      color: var(--color-primary-menu-nav); 
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
       }
       /*  */
.site-navigation .linky {   
  color:var(--color-primary-contact-Information-top);  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
  }  
  /* при наведенні або фокусуванні  на ссилку міняє колір на #2196F3 */
  .site-navigation, .link:hover,
  .site-navigation, .link:focus {color: var(--color-accent-menu-nav) }
  /* ставимо клас current в ту ссилку на поточну сторінку в якій зараз знаходимося щоб підсвітити ссилку для інформації що ця сторінка зараз відкрита в браузері */
  .site-navigation .link.current { color:var(--color-accent-menu-nav)  ;}

  /* Рішення для бізнесу hero     під шапкою перша секція */ 

  .hero { 
    background-color:var(--color-background-hero); 
  }
  .hero h1 { 
      color:var(--color-text-hero) ; 
    font-weight: 900;
   font-size: 44px;
   line-height: 1.36;    
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;  }


 
  
.button { 
  color:var(--color-button-text) ;
  background-color:var(--color-primary-background-button) ; 
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87; 
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;   }

.button:hover,
.button:focus {
  color:   var(--color-accent-text-button);
  background-color: var(--color-accent-background-button);}

  
 
  /* ховаю заголовок (наші особливості) */
  .feature-list > h2 {font-size: 0px; }
  /* колір заголовків.. а колір тексту визначається як основний на сторінці */
  .list.title h3 {color:var(--color-text-title) ;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase; }

 
  .photo-robota h2  { color: var(--color-text-title);
  
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em; }
 
/* наша команда фотографії працівників */

  .our-team {background-color:var(--color-background-our-team); }
  .our-team h2 { color: var(--color-text-title);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }   
  .our-team .list h3 { color:var(--color-text-title); 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em; } 
    
.our-team .list p { 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em; } 


  /* підвал футер */
  .logofut-stud { color:var(--color-logo-studio-footer) ; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em; }

  .logo-wais-web { color:var(--color-logo-web-footer); }

  .basement {background-color:var(--color-background-footer-basement); }

.adresa, .adre { 
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; }

  .adresa {color:var(--color-primary-contact-Information-footer) ;
    font-style: normal; }
  

  .adresa:hover,
  .adresa:focus { color:var(--color-accent-contact-Information-footer) ; }

  .adre { color:var(--color-text-map); 
  font-style: normal; }
  .adre:hover,
  .adre:focus { color:var(--color-accent-contact-Information-footer) ; }









/* Портфоліо  стилі для другої сторінки з імям Портфоліо */




.filters h1 {font-size: 0px;}
/* кнопки    налаштування кнопок (фільтри) */
.filter-but { 
  color:var(--color-text-filter-but ) ;
  background-color: var(--color-background-filter-but) ;   
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
   }

   .filter-but:hover,
   .filter-but:focus {  
    color: var( --color-accent-text-filter-but) ;
    background-color: var(--color-accent-background-filter-but) ; }

    /* секція із фотографіями */
/* ховаю заголовок h1 */


.projects h1 {font-size: 0px; }
.projects h2 { color: var(--color-text-filter-but);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
   }
.projects p { color: var(--color-text-paragraph) ; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em; }
     





